<table class="doc-loader">
    <tr>
        <td>
            <img src="assets/images/ajax-document-loader.gif" alt="Loading..." />
        </td>
    </tr>
</table>

<!-- Menu -->
<div class="menu-wrapper center-relative">
    <nav id="header-main-menu">
        <div class="mob-menu">MENU</div>
        <ul class="main-menu sm sm-clean">
            <li>
                <a href="#home">Inicio</a>
            </li>
            <li>
                <a href="#portfolio">Portafolio</a>
            </li>
            <li>
                <a href="#skills">Skills</a>
            </li>
            <li>
                <a href="#news">Noticias</a>
            </li>
            <li>
                <a href="#contact">Contacto</a>
            </li>
        </ul>
    </nav>
</div>



<!-- Home -->

<div id="home" class="section intro-page">
    <div class="block content-1170 center-relative center-text">
        <!-- <img class="top-logo" src="assets/demo-images/logo.png" alt="Boxus" />
        <br> -->
        <h1 class="big-title">Photograph
            <span>TH</span>
        </h1>
        <p class="title-desc">Mariel Rotondaro</p>
    </div>
</div>

<!-- Portafolio -->
<div id="portfolio" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder right">
            <div class="section-num">
                <span>01</span>
            </div>
            <h2 class="entry-title">Portafolio</h2>
        </div>
        <div class="section-content-holder portfolio-holder left">
            <div class="grid" id="portfolio-grid">
                <div class="grid-sizer"></div>
                <!-- <div class="grid-item element-item p_one">
                    <a href="single-portfolio.html">
                        <img src="assets/demo-images/portfolio_item_01.jpg" alt="">
                        <div class="portfolio-text-holder">
                            <div class="portfolio-text-wrapper">
                                <p class="portfolio-type">
                                    <img src="assets/images/icon_post.svg" alt="">
                                </p>
                                <p class="portfolio-text">PSD MOCKUP</p>
                                <p class="portfolio-sec-text">Smart Watch</p>
                            </div>
                        </div>
                    </a>
                </div> -->
                <!-- <div class="grid-item element-item p_one_half">
                    <a href="single-portfolio2.html">
                        <img src="assets/demo-images/portfolio_item_02.jpg" alt="">
                        <div class="portfolio-text-holder">
                            <div class="portfolio-text-wrapper">
                                <p class="portfolio-type">
                                    <img src="assets/images/icon_post.svg" alt="">
                                </p>
                                <p class="portfolio-text">PSD MOCKUP</p>
                                <p class="portfolio-sec-text">Smart Watch</p>
                            </div>
                        </div>
                    </a>
                </div> -->
                <div class="grid-item element-item p_one">
                    <a data-rel="prettyPhoto[gallery1]" href="assets/demo-images/portfolio_item_05.jpg">
                        <img src="assets/demo-images/portfolio_item_05.jpg" alt="">
                        <div class="portfolio-text-holder">
                            <div class="portfolio-text-wrapper">
                                <p class="portfolio-type">
                                    <img src="assets/images/icon_post.svg" alt="">
                                </p>
                                <p class="portfolio-text">PSD MOCKUP</p>
                                <p class="portfolio-sec-text">Smart Watch</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid-item element-item p_one_half">
                    <a data-rel="prettyPhoto[gallery1]" href="assets/demo-images/portfolio_item_08.jpg">
                        <img src="assets/demo-images/portfolio_item_08.jpg" alt="">
                        <div class="portfolio-text-holder">
                            <div class="portfolio-text-wrapper">
                                <p class="portfolio-type">
                                    <img src="assets/images/icon_post.svg" alt="">
                                </p>
                                <p class="portfolio-text">PSD MOCKUP</p>
                                <p class="portfolio-sec-text">Smart Watch</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid-item element-item p_one_half">
                    <a data-rel="prettyPhoto[gallery1]" href="assets/demo-images/portfolio_item_08.jpg">
                        <img src="assets/demo-images/portfolio_item_08.jpg" alt="">
                        <div class="portfolio-text-holder">
                            <div class="portfolio-text-wrapper">
                                <p class="portfolio-type">
                                    <img src="assets/images/icon_post.svg" alt="">
                                </p>
                                <p class="portfolio-text">PSD MOCKUP</p>
                                <p class="portfolio-sec-text">Smart Watch</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid-item element-item p_one">
                    <a data-rel="prettyPhoto[gallery1]" href="assets/demo-images/portfolio_item_05.jpg">
                        <img src="assets/demo-images/portfolio_item_05.jpg" alt="">
                        <div class="portfolio-text-holder">
                            <div class="portfolio-text-wrapper">
                                <p class="portfolio-type">
                                    <img src="assets/images/icon_post.svg" alt="">
                                </p>
                                <p class="portfolio-text">PSD MOCKUP</p>
                                <p class="portfolio-sec-text">Smart Watch</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid-item element-item p_one_half">
                    <a data-rel="prettyPhoto[gallery1]" href="assets/demo-images/portfolio_item_08.jpg">
                        <img src="assets/demo-images/portfolio_item_08.jpg" alt="">
                        <div class="portfolio-text-holder">
                            <div class="portfolio-text-wrapper">
                                <p class="portfolio-type">
                                    <img src="assets/images/icon_post.svg" alt="">
                                </p>
                                <p class="portfolio-text">PSD MOCKUP</p>
                                <p class="portfolio-sec-text">Smart Watch</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid-item element-item p_one_half">
                    <a data-rel="prettyPhoto[gallery1]" href="assets/demo-images/portfolio_item_08.jpg">
                        <img src="assets/demo-images/portfolio_item_08.jpg" alt="">
                        <div class="portfolio-text-holder">
                            <div class="portfolio-text-wrapper">
                                <p class="portfolio-type">
                                    <img src="assets/images/icon_post.svg" alt="">
                                </p>
                                <p class="portfolio-text">PSD MOCKUP</p>
                                <p class="portfolio-sec-text">Smart Watch</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="clear"></div>
            <div class="block portfolio-load-more-holder">
                <a target="_self" class="more-posts">VER MAS</a>
                <img src="assets/images/icon_infinity.svg" alt="Load more">
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<!-- Skills -->

<div id="skills" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder right">
            <div class="section-num">
                <span>02</span>
            </div>
            <h2 class="entry-title">EXPERIENCIA</h2>
        </div>
        <div class="section-content-holder left">
            <div class="content-wrapper">
                <div class="content-title-holder">
                    <p class="content-title">Skills</p>
                </div>
                <p>Desarrollo actividades creativas, profesionales y económicas que exigen tanto de conocimientos técnicos y
                    del dominio de la imagen como del desarrollo de la capacidad expresiva y comunicacional.</p>
                <p>Me apasionan los temas de la imagen, y mantengo un fuerte interés en diferentes aspectos sociales y culturales
                     como la lectura, el cine, la fotografía, la televisión cultural y 
                    científica, el arte, el teatro y el arte de la conversación, por nombrar algunos.</p>
                <br>
                <div class="progress_bar ">
                    <div class="progress_bar_field_holder" style="width:81%;">
                        <div class="progress_bar_title" style="color: #55B286">HTML</div>
                        <div class="progress_bar_percent_text" style="color: #55B286">81%</div>
                        <div class="progress_bar_field_perecent" style="background-color:#32DB8A;"></div>
                    </div>
                </div>
                <div class="progress_bar ">
                    <div class="progress_bar_field_holder" style="width:93%;">
                        <div class="progress_bar_title" style="color: #E3A536">CSS</div>
                        <div class="progress_bar_percent_text" style="color: #E3A536">93%</div>
                        <div class="progress_bar_field_perecent" style="background-color:#FFBB42;"></div>
                    </div>
                </div>
                <div class="progress_bar ">
                    <div class="progress_bar_field_holder" style="width:72%;">
                        <div class="progress_bar_title" style="color: #B24564">PSD</div>
                        <div class="progress_bar_percent_text" style="color: #B24564">72%</div>
                        <div class="progress_bar_field_perecent" style="background-color:#E74C78;"></div>
                    </div>
                </div>
                <div class="progress_bar ">
                    <div class="progress_bar_field_holder" style="width:99%;">
                        <div class="progress_bar_title" style="color: #468ac7">DISEÑO</div>
                        <div class="progress_bar_percent_text" style="color: #468ac7">99%</div>
                        <div class="progress_bar_field_perecent" style="background-color:#4C9EE7;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>


<!-- News -->
<div id="news" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder right">
            <div class="section-num">
                <span>
                    03
                </span>
            </div>
            <h2 class="entry-title">NOTICIAS</h2>
        </div>
        <div class="section-content-holder left">
            <div class="content-wrapper">
                <div class="blog-holder block center-relative">
                    <!-- Componente Noticias -->
                    <app-noticias></app-noticias>
                    <div class="latest-post-bottom-text">
                        <a href="#">GO TO BLOG</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="block content-1170 center-relative">
        <!-- slider -->
        <div class="extra-content-full-width">
            <script>
                var fwslider1_speed = "500";
                var fwslider1_auto = "false";
                var fwslider1_hover = "true";
                var fwslider1_start = "0";
                var fwslider1_width = "400";
                var fwslider1_num = "5";
            </script>
            <div class="fwslider1 fw-image-slider-holder list_carousel relative">
                <div class="caroufredsel_wrapper">
                    <ul id="fwslider1" class="fw-image-slider">
                        <li class="fw-slide">
                            <img src="assets/demo-images/icon_editing.png" alt="">
                            <p class="fw-slide-text">Edicion de Video</p>
                        </li>
                        <li class="fw-slide">
                            <img src="assets/demo-images/icon_clear.png" alt="">
                            <p class="fw-slide-text">Premium Cleer</p>
                        </li>
                        <li class="fw-slide">
                            <img src="assets/demo-images/icon_display.png" alt="">
                            <p class="fw-slide-text">Para Todas las Pantallas</p>
                        </li>
                        <li class="fw-slide">
                            <img src="assets/demo-images/icon_time.png" alt="">
                            <p class="fw-slide-text">Siempre A Tiempo</p>
                        </li>
                        <li class="fw-slide">
                            <img src="assets/demo-images/icon_ideas.png" alt="">
                            <p class="fw-slide-text">Innovando Ideas</p>
                        </li>
                        <li class="fw-slide">
                            <img src="assets/demo-images/icon_sound.png" alt="">
                            <p class="fw-slide-text">Sonido Perfecto</p>
                        </li>
                        <li class="fw-slide">
                            <img src="assets/demo-images/icon_solution.png" alt="">
                            <p class="fw-slide-text">Soluciones HD</p>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div id="fwslider1_fw_image_slide_pager" class="fw_carousel_pagination"></div>
            </div>
            <a id="fwslider1_fw_next" class="carousel_fw_next" href="#"></a>
            <div class="clear"></div>
        </div>

    </div>
</div>




<!-- Contact -->
<div id="contact" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder left">
            <div class="section-num">
                <span>
                    04
                </span>
            </div>
            <h2 class="entry-title">Contacto</h2>
        </div>
        <div class="section-content-holder right">
            <div class="content-wrapper">
                <div class="one_half ">
                    <p>Si tienes preguntas, dudas o sugerencias por favor enviame un mensaje; normalmente respondo entre 4 a
                        6 horas.</p>
                    <br>
                    <p>
                        <strong>
                            <span style="color: #e64b77;">Tambien estoy por otras redes!</span>
                        </strong> al final de la pagina podras ver los iconos de las redes donde podemos contactar.</p>
                </div>
                <div class="one_half last">
                    <div class="contact-form">
                        <p>
                            <input id="name" type="text" name="your-name" placeholder="Nombre">
                        </p>
                        <p>
                            <input id="contact-email" type="email" name="your-email" placeholder="Email">
                        </p>
                        <p>
                            <input id="subject" type="text" name="your-subject" placeholder="Motivo">
                        </p>
                        <p>
                            <textarea id="message" name="your-message" placeholder="Mensaje"></textarea>
                        </p>
                        <p>
                            <input type="submit" onClick="SendMail()" value="ENVIAR">
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="full-width">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255347.0233773414!2d-78.57062665484433!3d-0.18625044036938004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a4002427c9f%3A0x44b991e158ef5572!2sQuito!5e0!3m2!1sen!2sec!4v1524092723260"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-- Footer -->

<footer>
    <div class="footer content-1170 center-relative">
        <ul>
            <li class="copyright-footer">
                © 2018 All rights reserved. | PhotographerTH.com by
                <a href="https://github.com/rennyluzardo" target="_blank">Renny Luzardo</a>
            </li>
            <li class="social-footer">
                <a href="#">
                    <span class="fa fa-twitter"></span>
                </a>
                <a href="#">
                    <span class="fa fa-behance"></span>
                </a>
                <a href="#">
                    <span class="fa fa-dribbble"></span>
                </a>
                <a href="https://www.facebook.com/PhotographerTH/">
                    <span class="fa fa-facebook"></span>
                </a>
                <a href="#">
                    <span class="fa fa-rss"></span>
                </a>
            </li>
        </ul>
    </div>
</footer>